VITE_FIREBASE_API_KEY=AIzaSyAG-EzaM7MsycKSwARHtFQpAjs9JWZ2Ywo
VITE_FIREBASE_AUTH_DOMAIN=elgabinete-4c48c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elgabinete-4c48c
VITE_FIREBASE_STORAGE_BUCKET=elgabinete-4c48c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=535095251057
VITE_FIREBASE_APP_ID=1:535095251057:web:7229179dd3a2b652db4bd0
VITE_WHATSAPP_NUMBER=5491138060642
